body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    border: solid black;
}
  
header {
    background-color: black;
    grid-column: span 12;
    color: white;
    font-family: Helvetica, sans-serif;
    padding: 1%;
    margin: 1%;
}
  
nav {
    grid-column: span 3;
    padding-bottom: 1%;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
}

nav li a {
    display: block;
    background-color: red;
    border: 1px solid black;
    padding: 1em;
    margin: 25px;
    margin-top: 0;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(95, 0, 0);
}
  
main {
    grid-column: span 6;
}
  
main img {
    float: left;
    margin-right: 24px;
}

p a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: blue;
    text-decoration: underline;
}
aside {
    grid-column: span 3;
    background-color: blue;
    color: white;
    padding: 24px;
    padding-top: 0%;
}
  
footer {
    background-color: green;
    color: white;
    grid-column: span 12;
    padding-left: 24px;
}

.georgiaTheCountry {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
}