/* This is my great shame. I was unable to properly complete this. Fuck this page */

html {
    background-image: url("a62.png");
}

.georgiaTheCountry {
    font-family: Georgia;
} /*It's not a very powerful bold or justify but it's there*/

button {
    background-color: rgb(7, 128, 168);
    border: 1px solid darkblue;
    color: white;
    padding: 25px 25%;
    cursor: pointer;
    float: left;
}

body {    
    background: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: solid blue;
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.redlink {
    color: red;
} /* I don't wanna code anymore. I just want to crawl into a ball and sleep */

.left {
    justify-content: left;
}
h2 {
    border-bottom: solid black;
    padding-bottom: 2%;
    display: grid;
    grid-column: span 12;
    font-family: Helvetica, sans-serif;
} /* Doesn't say anything about changing the bold on the h2 so I'll assume it stays as issued */

header {
    background-color: black;
    grid-column: span 12;
    color: white;
    font-family: Helvetica, sans-serif;
    padding: 1%;
    margin: 1%;
}

header h1 {
    font-weight: unset;
}

nav {
    display: inline-block;
    grid-column: span 12;
    padding-bottom: 1%;
    width: auto;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: inline-block;
    background-color: red;
    border: 1px solid black;
    padding: 1em;
    margin: 25px;
    margin-top: 0;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(95, 0, 0);
}
  
main {
    grid-column: span 9;
    background-color: white;
    padding: 1%;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 1%;
} /* For some reason, despite the local files and the online files being the exact same, the local looks exactly like the provided example while the online version is slightly larger than neccessary*/

main img {
    float: left;
    margin-right: 24px;
    border: solid black;
    padding: 10px;
}

p a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    color: blue;
    text-decoration: underline;
}

footer {    
    text-align: center;
    background-color: red;
    color: white;
    grid-column: span 12;
    padding-left: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    border-top: solid black;
}