body{
    color: rgb(44, 110, 44);
    background-color: black;
}
h1 {
    color: aquamarine;
    background-color: black;
}
h2 {
    color: blue;
    background-color: black;
}
h3 {
    color: green;
    background-color: black;
}
p {
    color: rgb(240, 204, 204);
    background-color: black;
}
a {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: yellow;
}
/* Changes the background between the h2 and p on page 1 to be turquoise*/
.TotallyUnnecessaryDiv {
    background-color: turquoise;
}
/* I assure you the color is different, probably */
#beans {
    color: #b8001f;
}
header {
    font-size: large
}
.span {
    color: blueviolet;
}